#home{
    margin-left:40%;
    color: white;
}

#bton{
    background-color: transparent;
}

.menu{
    margin-left:2%;
    color: white;
    margin-bottom: 7;
}

#busqueda{
    margin-left:22%;
    margin-bottom: 1%;
}

body{
    background-color: #383c4c;
}
/*
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
----
background-image: no-repeat;
background-image: fixed;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

*/
#motro1{
    margin-top: 1%;
}

#motro2{
    margin-left: 3%;
}

#motro3{
    padding-top: 2%;
}

#motro4{
    padding-top: 1%;
}

#motro5{
    padding-top: 44px;
}

#motro6{
    padding-top: 3%;
}

#fondo{
    background-image: url("./imagenes/montañas2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 100% 300px ;
    
}

#color{
    background-color: #383c4c;
}

#iconos1{
    color: white; 
    margin: auto;
}

#barra1{
    margin: auto; 
    margin-left: 14%;
}

#primerh1{
    margin-top: 3%;
    color: white;
}

#caja25{
    margin-top: 5%; 
    background-color: #3f2d68;
}

#caja0{
    margin-top: 3%; 
    background-color: #3f2d68;
}

#caja1{
    width: 100%; 
    margin-top: 5%; 
    margin-bottom: 5%;
}

#text1{
    margin-left:10%; 
    color:white
}

#text2{
    color: white; 
    margin: auto; 
    height: 300px;
}

#imagenes{
    margin: auto; 
    margin-left: 14%; 
    height: 300px;
}

#mbuton{
    width: 100%; 
    color: white; 
    background-color: #FF74F5
}

#mcaja{
    color: white;
    margin-top: 3%; 
    padding-top: 3%;
}

#mcaja2{
    color: white; 
    background-color: #FF74F5;
}

#mcaja3{
    display:grid; 
    place-items:center
}

#mboton5{
    margin-right: 30%;
}

#ccaja1{
    margin: auto; 
    margin-left: 14%;
}

#ccaja2{
    margin-top: 8%; 
    margin-left: 20%;
    color: white;
    margin-right: 20%;
}

#ccaja3{
    width: 50%; 
    color: white; 
    background-color: #e748ea; 
    margin-left: 56%;
}

#ccaja4{
    background-color:white;
    color: black; 
    margin-top: 1%; 
    height: 60px; 
    border-radius: 3px;
}

#ccaja5{
    margin-top: 16px;
}

#ccaja6{
    margin-top: 16px;
    padding-left: 10%;
}

#ccaja7{
    margin-left: 90px;
}

#estilo1{
    width: 80px; height: 40px; margin-top: 10px;
}

img.resize {width: 55px; height: 30px;}
img.mando {width: 200px; height: 250px;margin-left: 16%;}
img.listaF {width: 80px; height: 40px; margin-top: 10px;}